@use '../../../scss/vars';
@use '../../../scss/mixin';
@use '../../../scss/reset';
.section1-becomeArtist{
  padding: 100px 0;
  @include mixin.flex(column,center,center,0);
  width: 100%;
  &-conatiner1 {
    @include mixin.flex(column,center,center,35px);
    width: 28%;
    &__title {
      @include mixin.dmSans(69px, 700, 84px);
    }

    &__text {
      @include mixin.dmSans(18px, 600, 26px);
    }

    &__btn {
      color: vars.$background-color;
      @include mixin.roboto(18px, 600, 26px);
      background: linear-gradient(to right bottom, #FF56BB, #FF8F77);
      padding: 10px 45px;
      border-radius: 10px;
    }
  }
  &-container2 {
    position: relative;
    &-card {

      &__text {
        padding: 10px 0;
        @include mixin.roboto(12px, 600, 18px);
      }

      &-block {
        @include mixin.flex(row, space-between, center, 0);

        &-acount {
          @include mixin.flex(row, flex-start, center, 10px);

          &__text {
            @include mixin.roboto(10px, 500, 16px);
          }
        }

        &-prices {
          &__bid {
            @include mixin.roboto(8px, 400, 11px);
            color: vars.$no-active-color;
          }

          &-price {
            @include mixin.flex(row, center, center, 0);

            &__text {
              @include mixin.roboto(10px, 500, 16px);
            }
          }
        }
      }
    }
    &-card1{
      background-color: vars.$background-color;
      border-radius: 10px;
      padding: 5px 5px;
      position: absolute;
      top: -250px;
      left: -550px;
      z-index: -1;
    }
    &-card2{
      background-color: vars.$background-color;
      border-radius: 10px;
      padding: 5px 5px;
      position: absolute;
      top: -250px;
      right: -550px;
      z-index: 1;
    }
    &-card3{
      background-color: vars.$background-color;
      border-radius: 10px;
      padding: 5px 5px;
      position: absolute;
      top: -50px;
      left: -450px;
      z-index: 1;
    }
    &-card4{
      background-color: vars.$background-color;
      border-radius: 10px;
      padding: 5px 5px;
      position: absolute;
      top: -50px;
      right: -650px;
      z-index: -1;
    }
  }
}